* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: auto;
}

:root {
    --myblue: #1e90ff;
    --myred: #ef5519;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');